<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>


    <!--<script type="text/babel" src="jsx/index/Kv.jsx"></script>-->
    <script type="text/babel" src="jsx/index/vicebanner.jsx"></script>
    <script type="text/babel" src="jsx/index/Vicnav.jsx"></script>
    <script type="text/babel" src="jsx/index/Singer.jsx"></script>
    <script type="text/babel" src="jsx/index/Youtube.jsx"></script>
    <script type="text/babel" src="jsx/index.jsx"></script>

    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/slide.js"></script>
    <script type="text/javascript" src="/javascripts/list.js"></script>
    <script type="text/javascript" src="/javascripts/immediateVideo.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="mainKv" class="mainKv slideBlock"></div>
      <div id="block1" class="bannerKv slideBlock"></div>
      <div id="vicNav" class="content slideBlock vicNav"></div>

      <div class="content general">
        <div class="in">
          <div class="block content left">
            <div class="title">
              <span class="text">Latest issue</span>
            </div>
            <div class="con">
              <ul class="list" data-model="album" data-max="8" data-min="2" data-font="bottom">
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/23158303,0v1/fit/500x500.jpg" alt="亞洲通車 (Cross Over Asia)">
                      <span class="number">01</span>
                    </span>
                    <figcaption>
                      <h2>亞洲通車 (Cross Over Asia)</h2>
                      <h3>黃明志 (Namewee)</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/23975226,0v1/fit/500x500.jpg" alt="不曾回來過 - 電視劇<通靈少女>插曲">
                      <span class="number">02</span>
                    </span>
                    <figcaption>
                      <h2>不曾回來過 - 電視劇<通靈少女>插曲</h2>
                      <h3>李千娜</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/21468581,1v1/fit/500x500.jpg" alt="還是想念 (Still Missing)">
                      <span class="number">03</span>
                    </span>
                    <figcaption>
                      <h2>還是想念 (Still Missing)</h2>
                      <h3>家家 (JiaJia)</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/20474785,0v1/fit/500x500.jpg" alt="讓我留在你身邊">
                      <span class="number">04</span>
                    </span>
                    <figcaption>
                      <h2>讓我留在你身邊</h2>
                      <h3>陳奕迅</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/6542696,1v1/fit/500x500.jpg" alt="紳士">
                      <span class="number">05</span>
                    </span>
                    <figcaption>
                      <h2>紳士</h2>
                      <h3>薛之謙</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/21441512,0v1/fit/500x500.jpg" alt="光年之外 - 電影<Passengers>中國區主題曲">
                        <span class="number">06</span>
                    </span>
                    <figcaption>
                      <h2>光年之外 - 電影 Passengers 中國區主題曲</h2>
                      <h3>G.E.M.鄧紫棋</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/16161507,1v1/fit/500x500.jpg" alt="周杰倫的床邊故事">
                      <span class="number">07</span>
                    </span>
                    <figcaption>
                      <h2>周杰倫的床邊故事</h2>
                      <h3>周杰倫 (Jay Chou)</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/25326925,0v1/fit/500x500.jpg" alt="聖結石Saint 首張EP">
                      <span class="number">08</span>
                    </span>
                    <figcaption>
                      <h2>聖結石Saint 首張EP</h2>
                      <h3>聖結石 (Saint)</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/18847150,3v1/fit/500x500.jpg" alt="真 (REAL)">
                      <span class="number">09</span>
                    </span>
                    <figcaption>
                      <h2>真 (REAL)</h2>
                      <h3>周湯豪 (NICKTHEREAL)</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/17250268,0v1/fit/500x500.jpg" alt="愛，教會我們的事 (What Love Has Taught Us)">
                      <span class="number">10</span>
                    </span>
                    <figcaption>
                      <h2>愛，教會我們的事 (What Love Has Taught Us)</h2>
                      <h3>傅又宣 (Maggie Fu)</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/17467219,1v1/fit/500x500.jpg" alt="要你知道 (Time To Let The World Know)">
                      <span class="number">11</span>
                    </span>
                    <figcaption>
                      <h2>要你知道 (Time To Let The World Know)</h2>
                      <h3>謝和弦(R-chord)</h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <span class="img">
                      <img src="https://i.kfs.io/album/global/25212669,0v1/fit/500x500.jpg" alt="啪啪啪">
                      <span class="number">12</span>
                    </span>
                    <figcaption>
                      <h2>啪啪啪</h2>
                      <h3>黃明志 (Namewee)</h3>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </div>
            <div class="action">
              <a href="#" class="more">More</a>
            </div>
          </div>

          <div class="block content right">
            <div class="member status">
              <div class="title">
                <span class="text">Ranking</span>
              </div>
              <ul class="list" data-model="playlist" data-max="8" data-min="2" data-font="bottom">
                <li>
                  <ul>
                    <li class="number"><span class="number">1</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25728515,0v1/fit/160x160.jpg" alt="永不失聯的愛 (Unbreakable Love) - 原創概念版" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">永不失聯的愛 (Unbreakable Love) - 原創概念版</span>
                      <span class="text singer">Eric 周興哲</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">2</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25326925,0v1/fit/160x160.jpg" alt="真的不想嘴 (I hate to say it, but)" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">真的不想嘴 (I hate to say it, but)</span>
                      <span class="text singer">聖結石 (Saint), 聖嫂 Dodo</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">3</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25677688,2v1/fit/160x160.jpg" alt="我喜歡上你時的内心活動" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">我喜歡上你時的内心活動</span>
                      <span class="text singer">陳綺貞 (Cheer Chen)</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">4</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25947886,0v1/fit/160x160.jpg" alt="魚仔 (He-R)" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">魚仔 (He-R)</span>
                      <span class="text singer">盧廣仲 (Crowd Lu)</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">5</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25792875,0v1/fit/160x160.jpg" alt="那對夫妻 (The Couple)" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">那對夫妻 (The Couple)</span>
                      <span class="text singer">那對夫妻 (Nico&Kim)</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">6</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25752625,0v1/fit/160x160.jpg" alt="為你我受冷風吹" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">為你我受冷風吹</span>
                      <span class="text singer">吳卓源 (Julia Wu)</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">7</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/6612283,8v1/fit/160x160.jpg" alt="偏愛 (Love is Paranoia)" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">偏愛 (Love is Paranoia)</span>
                      <span class="text singer">曾沛慈 (Pets Tseng)</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">8</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/23615040,1v1/fit/160x160.jpg" alt="黑暗的社會 (Dark Society)" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">黑暗的社會 (Dark Society)</span>
                      <span class="text singer">玖壹壹, 黃立成 (Jeffrey Huang)</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">9</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25793220,1v1/fit/160x160.jpg" alt="船" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">船</span>
                      <span class="text singer">林宥嘉 (Yoga Lin)</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">10</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25752625,0v1/fit/160x160.jpg" alt="吻別" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">吻別</span>
                      <span class="text singer">JerryC, 劉明湘 (Rose Liu)</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">11</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25539669,0v1/fit/500x500.jpg" alt="披風 (Soar)" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">披風 (Soar)</span>
                      <span class="text singer">陳奕迅</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="number"><span class="number">12</span></li>
                    <li class="img">
                      <figure>
                        <img src="https://i.kfs.io/album/global/25540566,0v1/fit/500x500.jpg" alt="一直想著他" title="">
                      </figure>
                    </li>
                    <li class="text">
                      <span class="text songName">一直想著他</span>
                      <span class="text singer">莊心妍</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="singer" class="content singerBlock slideBlock flex"></div>

      <div id="videolist" class="content general flex"></div>
    </div>

    <footer id="footer">
      <div class="in">
        <div class="content left">
          <ul class="nav">
            <li>
              <span class="mainTitle">公司簡介</span>
              <ul>
                <li><a href="#">關於 MUZIER</a></li>
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">營業公播服務</a></li>
                <li><a href="#">人才招募</a></li>
              </ul>
            </li>
            <li>
              <span class="mainTitle">會員服務</span>
              <ul>
                <li><a href="#">會員中心</a></li>
                <li><a href="#">服務中心</a></li>
                <li><a href="#">會員使用條款</a></li>
              </ul>
            </li>
            <li>
              <span class="mainTitle">常用連結</span>
              <ul>
                <li><a href="#">下載 MUZIER</a></li>
                <li><a href="#">付費</a></li>
                <li><a href="#">儲值</a></li>
                <li><a href="#">註冊</a></li>
              </ul>
            </li>
            <li>
              <span class="mainTitle">MUZIER 集團</span>
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="content right">
          <span class="mainTitle">加入社群</span>
        </div>
        <small>© 2017 MUZIER All Rights Reserved</small>
      </div>
    </footer>

    <div class="fixed">
      <div class="close"></div>
    </div>

  </body>
</html>
