$generalInWidth : 1500px;
$mainColor      : #e60e41;
img{
  width: 100%;
}
@mixin transition($val) {
  -webkit-transition: $val;
  transition        : $val;
}

@mixin radius($val) {
  -moz-border-radius: $val;
  -webkit-border-radius: $val;
  border-radius: $val;
}

@mixin scale($val) {
  -moz-transform:scale($val);
  -webkit-transform:scale($val);
  -o-transform:scale($val);
  -ms-transform:scale($val);
  transform:scale($val);
}

@mixin shadow($val) {
  -moz-box-shadow:$val;
  -webkit-box-shadow:$val;
  box-shadow:$val;
}

ul{
  list-style-type: none;
}

.fontNone{
  display: none;
}

* {
  -webkit-text-size-adjust: none;
  text-size-adjust   : none;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
  -moz-user-select   : auto;
  -webkit-user-select: auto;
  margin  : 0px;
  padding : 0px;
}
